<mat-toolbar color="primary">
  <span>Gerenciador de HQs</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="HQs">
    <app-lista-hqs></app-lista-hqs>
  </mat-tab>

  <mat-tab label="Autores">
    <app-lista-autores></app-lista-autores>
  </mat-tab>
  
  <mat-tab label="Ilustradores">
    <app-lista-ilustradores></app-lista-ilustradores>
  </mat-tab>
</mat-tab-group>