<div class="buttonsBar">
  <button mat-raised-button color="primary" (click)="create()">Cadastrar</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
    </ng-container>
  
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef>Gênero</th>
      <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selected(row)"></tr>
  </table>
  
  