<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Idade</mat-label>
            <input matInput type="number" formControlName="idade">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="textarea" appearance="fill">
            <mat-label>Obras</mat-label>
            <textarea matInput type="text" formControlName="obras"></textarea>
        </mat-form-field>
    </div>

    <div class="buttonsBar">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" type="button" *ngIf="data?.id" (click)="deleteIlustrador()">Deletar</button>
    </div>
</form>
