<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput type="text" formControlName="titulo">
        </mat-form-field>
        
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput type="number" formControlName="preco">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Gênero</mat-label>
            <input matInput type="text" formControlName="genero">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Autor</mat-label>
            <mat-select formControlName="id_autor">
            <mat-option *ngFor="let autor of autores" [value]="autor.id">{{autor.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Ilustrador</mat-label>
            <mat-select formControlName="id_ilustrador">
                <mat-option *ngFor="let ilustrador of ilustradores" [value]="ilustrador.id">{{ilustrador.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="buttonsBar">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" type="button" *ngIf="data?.id" (click)="deleteHq()">Deletar</button>
    </div>
</form>