/* You can add global styles to this file, and also import other style files */
table {
    width: 100%;
}

.buttonsBar {
    display: flex;
    justify-content: flex-end !important;
    padding: 5px;
}

mat-form-field {
    padding: 10px;
    &.textarea {
        width: 100%;
    }
}