<div class="buttonsBar">
    <button mat-raised-button color="primary" (click)="create()">Cadastrar</button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
    
      <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let element"> {{element.idade}} </td>
      </ng-container>
    
      <ng-container matColumnDef="obras">
        <th mat-header-cell *matHeaderCellDef>Obras</th>
        <td mat-cell *matCellDef="let element"> {{element.obras}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selected(row)"></tr>
    </table>

